// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
   padding:0px;
   margin:0px;
   background: white;
}

h1, h2 {
  font-family: 'ABeeZee', sans-serif;
  color: orange;
  margin:0;
  margin-left: 20px;
}
h3 {
  font-family: 'ABeeZee', sans-serif;
  color: black;
  margin:0;
  margin-left: 20px;
}
.heading {
  width:100%;
  position:relative;
  height: 200px;
  background-image: url('http://jllsly.com/wallpapers/black-and-grey-designs-wallpaper-photo-Is-Cool-Wallpapers.jpg');
  background-color: transparent;
  background-size: auto;
  margin: 0;
}

.heading p {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  padding:20px;
  margin:0;
}

.sidenav {
    height: 200%;
    width: 200px;
    margin-top: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .sidenav a:link {
    padding: 6px 8px 6px 16px;
    display: block;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;

}

.sidenav a:hover {
    color: #f1f1f1;
}
 .openbtn {
   width: 50px;
   height: 50px;
   margin-bottom: 0;
   color:black;
   float: left;
   margin: 10px;
   display:none;

 }


.container_body {
  margin-top: 20px;
  margin-left:210px;
}

#searchbtn {
  float:right;
  margin-right:20px;
  margin-top:27px;
  margin-left:10px;
  margin-bottom: 20px;
}
#search {
  margin-top:20px;
  margin-bottom: 20px;
  width: 200px;
  height:30px;
  float:right;
}


 #sort_asc, #sort_desc {
   float:right;
   display: block;
   margin:10px;
   margin-top:20px;
   height: 40px;
   width:200px;
   margin-bottom: 20px;
   background-color: orange;
   border:none;
   border-radius:5px;
 }

#sort_asc a, #sort_desc a {
   font-size:15px;
   font-family: 'ABeeZee', sans-serif;
   text-decoration: none;
   color:black;
 }

#book_card:first-child{
  margin-top:15px;
}

#book_card {
  border: orange solid 3px;
  width:300px;
  height:100px;
  padding:5px;
  border-radius: 10px;
  margin:15px;
}
#book_card p {
  font-family: 'ABeeZee', sans-serif;
  padding-left:10%;
}
 #book_title{
   margin:0;
   padding:0;
   display:inline;
   font-family: 'ABeeZee', sans-serif;
   font-size: 22px;
   text-decoration: none;
   color:black;
 }
.book_description {
  border: orange solid 3px;
  width:400px;
  height: auto;
  padding:10px;
  border-radius: 10px;
  margin:15px;
  font-family: 'ABeeZee', sans-serif;
  line-height: 23px;
}

.rating {
  border: black solid 3px;
  width:400px;
  float:right;
  position:absolute;
  margin-top:0px;
  margin-left: 550px;
  padding:20px;
  border-radius:10px;
}

#rating_form, #review_form {
  margin-left:20px;
  margin-top:5px;
}

.review_card {
  border: orange solid 3px;
  width:450px;
  height:auto;
  padding:5px;
  border-radius: 10px;
  margin:15px;
  margin-bottom:0;
}

.review_card  p {
  font-family: 'ABeeZee', sans-serif;
  padding-left:8%;
  padding-right: 8%;
}
